{% extends 'base.html' %}
{% load static %}

{% block content %}



<section id="page-header" class="about-header">
    
    <h2>#Let's_talk</h2>
    
    <p>LEAVE A MESSAGE, We love to hear from you!</p>
    
</section>


<section id="contact-details" class="section-p1">
    
    <div class="details">
        <span>GET IN TOUCH</span>
        <h2>Visit one of our agency locations or contact us today</h2>
        <h3>Head office</h3>
        <div>
            <li>
                <i class="far fa-map"></i>
                <p>17/12 Nehru Vihar Bhilwara, Rajasthan</p>
            </li>
            <li>
                <i class="far fa-envelope"></i>
                <p>Keshavsomani999@gmail.com</p>
            </li>
            <li>
                <i class="fas fa-phone-alt"></i>
                <p>+91 6377954526</p>
            </li>
            <li>
                <i class="far fa-clock"></i>
                <p>8 AM : 8 PM , Mon - Sat</p>
            </li>
        </div>
       
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57694.26648910432!2d74.59671667557913!3d25.34141641016845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3968c2368c070a55%3A0xc92f70a42dcb5294!2sBhilwara%2C%20Rajasthan!5e0!3m2!1sen!2sin!4v1672850628790!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section id="form-details">
    <form action="/contact" method="post">{% csrf_token %}
        <span>LEAVE A MESSAGE</span>
        <h2>We love to hear from you</h2>
        <input type="text" placeholder="Your Name" name="name">
        <input type="text" placeholder="E-mail" name="email">
        <input type="text" placeholder="Subject" name="subject">
        <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <button type="submit" class="normal">Submit</button>
    </form>

    <div class="people">
        <div>
            <img src="{% static 'img/people/1.png' %}" alt="">
            <p><span>John Doe</span> Senior Marketing Manager <br> Phone: +91 6377954526 <br> Email: Keshavsomani999@gmail.com</p>
        </div>
        <div>
            <img src="{% static 'img/people/2.png' %}" alt="">
            <p><span>John Doe</span> Senior Marketing Manager <br> Phone: +91 6377954526 <br> Email: Keshavsomani999@gmail.com</p>
        </div>
        <div>
            <img src="{% static 'img/people/3.png' %}" alt="">
            <p><span>John Doe</span> Senior Marketing Manager <br> Phone: +91 6377954526 <br> Email: Keshavsomani999@gmail.com</p>
        </div>
    </div>
</section>

{% include 'newsletters.html' %}
{% include 'footer.html' %}

{% endblock %}