{% extends  'base.html' %}
{% load static %}


{% block content %}
{% load cart %}
{% load custom_filter %}






{% if products %}
<section id="page-header">
    
  <h2>#My Wishlist</h2>
  
  <p>Save more with coupons & up to 70% off</p>
  
</section>

<div class="container-fluid mt-4" > 
<div class="row" >






<!--products-->

<section id="product1" class="section-p1">

  <div class="pro-container">

    <!--filter-->


    {% for product in products %}
    <div class="pro" id="{{product.id}}">
      {% if product|is_in_wishlist:request.session.wishlist %}
      <form action="/shop#{{product.id}}" method="post">{% csrf_token %}
        <input type="text" value="{{product.id}}" name='wish_product' hidden>
        <button type="submit" class="Add_To_Cart"><i class="fa-regular fa-heart" id="wishlist_icon_remove"></i></button>
      </form>
      
      {% else %}
      <form action="/shop#{{product.id}}" method="post">{% csrf_token %}
        <input type="text" value="{{product.id}}" name='wish_product' hidden>
        <button type="submit" class="Add_To_Cart"><i class="fa-regular fa-heart" id="wishlist_icon"></i></button>
      </form>

      {% endif %}

      <a href="/sproduct/{{product.id}}" style="text-decoration: none;">
        
      <img src="{{product.image.url}}" alt=""  style="height: 350px;">
      <div class="des">
          <span>{{product.category}}</span>
          <h5>{{product.name}}</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>

          </div>
          <h4>{{product.price|currency}}</h4>
      </div>
      </a>


      {% if product|is_in_cart:request.session.cart %}
      <div class="cart_div">

        <form action="/shop#{{product.id}}" class="col-2" method="post">{% csrf_token %}
          <input type="text" hidden name="product" value='{{product.id}}'>
          <input type="text" hidden name="remove" value='True'>
            <input type="submit" class="minus_cart" value="-"  name="" id="">
          </form>

        <div class="col cart_quantity">
            {{product|cart_quantity:request.session.cart}}
        </div>
       
        <form action="/shop#{{product.id}}" class="col-2" method="post">{% csrf_token %}
          <input type="text" hidden name="product" value='{{product.id}}'>

          <input type="submit" class="add_cart" value="+"  name="" id="">
        </form>
      </div>


      {% else %}
      <form action="/shop#{{product.id}}" method="POST" class="btn-block">{% csrf_token %}
        <input type="text" hidden name="product" value='{{product.id}}'>
      <button type="submit" class="Add_To_Cart"><i class="bi bi-cart cart"></i></button>
      </form>
      
      {% endif %}
      
      
  </div>

  {% endfor %}

  </div>

</section>

<!-- End products-->


</div>
</div>

{% else %}
<section class="empty_wishlist">
<h3>YOUR WISHLIST IS EMPTY</h3>
<p>Add items that you like to your wishlist. <br> Review them anytime and easily move them to the bag.</p>
<img src="{% static 'img/Empty_wishlist.png' %}" alt="">
<button class="normal" onclick="window.location='/'">CONTINUE SHOPPING</button>
</section>

{% endif %}



{% include 'newsletters.html' %}
{% include 'footer.html' %}


{% endblock %}


